$color: #999123;

.app {
  text-align: center;

  .appHeader {
    background-color: $color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    .appLogo {
      height: 40vmin;
      pointer-events: none;
    }

    .appLink {
      color: #61dafb;
    }
  }

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
